@import "../../../assets/designs/commonTheme.scss";

.content {
  background-color: $backgroundColor;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

p {
  text-align: justify;
  text-justify: inter-word;
  color: $aboutPageFontColour;
  letter-spacing: -0.4px;
}
