.logoAvatarContainer {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 0%;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  .avatarIcon {
    height: 3.5vw;
    width: 3.5vw;
    z-index: 100;
    align-self: center;
    visibility: hidden;
    margin: 0 0.3rem;
  }

  &:hover .avatarIcon {
    visibility: visible;
  }
}
