@import "../../../assets/designs/commonTheme.scss";

.homepage {
  background-color: $backgroundColor;
  height: 100%;
}

.synogramIcon {
  width: 100%;
}

.content_container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 25vh;
  width: 100%;
  margin: 0 auto;

  & .homepage_description {
    font-size: 12px;
    width: 50%;
  }

  & .homepage_navbar {
    align-self: flex-end;
    margin-right: 15vw;
  }
}

.magnify_glass_container {
  position: absolute;
  width: 125vh;
  height: 125vh;
  right: 0;
  overflow: hidden;
  z-index: 0;
  & .outer_glass {
    background-color: white;
    width: 95%;
    height: 95%;
    left: 0;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    top: 2%;
  }

  & .inner_glass {
    background-color: $magnifyCenter;

    position: absolute;
    border-radius: 50%;
    width: 85%;
    height: 85%;
    margin: auto;
    z-index: 4;

    top: 7%;
    left: 5%;
  }

  & .glass_handle {
    height: 3rem;
    width: 95%;
    background-color: white;
    transform: rotate(40deg);
    position: absolute;
    z-index: 0;
    left: 30%;
    top: 70%;
  }
}
