@import "../../../assets/designs/commonTheme.scss";

.container {
  height: 100vh;
  background-color: $resultsBGColour;
}

.resultsContent {
  display: flex;
  flex-wrap: wrap;
  background-color: $resultsBGColour;
}
