.toolbar {
  height: 56px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  color: white;
}

.toobar nav {
  height: 100%;
}
