.container {
    display: flex;
    width: 26rem;
    height: 28rem;
    background-color: beige;
    border-radius: 4.5rem;
    flex-direction: column;
    align-items: center;
    & .description {
        margin: 0;
        font-size: 16px;
        width: 90%;
        margin: 2rem 0;
    }

    & button {
        width: 18rem;
        height: 6rem;
        border-radius: 3.75rem;
        border: 5px solid #FD5D08;
        font-size: 2.2rem;
        color: #FD5D08;
    }
}