.searchbarContainer {
  width: 74.375rem;
  height: 6.8125rem;
  border: 2px black solid;
  border-radius: 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: auto;
  position: relative;

  &:focus-within {
    .searchButton {
      transform: translateX(65rem);
      transition-duration: 0.5s;
    }
  }
  &:not(:focus-within) {
    .searchButton {
      transition-duration: 0.5s;
    }
  }
}

.searchBar {
  width: 80%;
  height: 80%;

  position: relative;
  left: 7.25rem;
  color: #525252;
  outline: none;
  border: none;

  & input {
    width: 100%;
    height: 100%;
    font-size: 2.25rem;
    color: #626262;
    outline: none;
    border: none;
    box-sizing: border-box;
  }
}

.searchButton {
  position: absolute;
  z-index: 100;
  left: 1.5rem;
  width: fit-content;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0 2rem;
}
.searchIcon {
  font-size: 14rem;
  width: 2.25rem;
}
