.mainDescriptionBox {
  background: #cccccc 0% 0% no-repeat padding-box;
  border-radius: 3vh 3vh 0 0;
  opacity: 0.8;
  width: 100%;
  position: fixed;
  bottom: 0;
  .mainDescriptionExpandBtn {
    width: 100%;
    height: 3rem;
    background-color: transparent;
    img {
      height: 1.5rem;
    }
  }

  .collapsibleContent {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: baseline;
    .wordList {
      width: 25%;
      flex-flow: row wrap;
      align-content: flex-start;
      margin-bottom: 3%;
    }
    .mainDescriptionItem {
      width: 65%;
      text-align: left;
    }
  }
}
