// MAGNIFYING GLASS
$magnifyCenter: #ffd908;

// NAVIGATION
$navItemColour: #828282;
$navItemColour_Hover: #ffffff;

//BACKGROUND COLOR
$backgroundColor: #f2eed6;

$resultsBGColour: #414141;

$graphSelection: #fd5d08;
